html {
  background-color: #EFDCCE;
  font-family: "monospace";
}

header {
  background-color: #FA86C4;
  position: fixed;
  width: 100%;
  z-index: 1;
  }
  
  nav {
  margin: 0;
  padding:  20px 0;
}

nav li {
  padding-right: 2rem;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  display: inline;
  width: 80px;
  text-align: center;
}

p {
  color: #57AOD3;
  font-size: 16pt;
}

ul {
  color: #F4ABA9;
  font-weight: 300;
  display: inline-block;
  width: 80px;  
  
}

ol {
  color: #F4ABA9;
  font-size: 12pt;
  font-weight: 300;
  display: inline-block;
  width: 80px;  
}

h1 {
  color: #A0DEEE;
  font-size: 16pt;
}

header {
  color: #F06291;
  position: fixed;
  width: 100%;
  z-index: 1;
}

body {
  color: #53CFDA;
  font: 16pt;
  
}

footer {
  color: #FADADE;
  padding: 30px 0;
  display: inline-block;
  z-index: 1;
  width: 100%;
  bottom: 0%;
}
