html {
  background-color: #EFDCCE;
  font-family: Monaco;
  
p {
  color: #936ED4;
  font-size: 14pt;
}

ul {
  color: #F4ABA9;
  
}

ol {
  color: #F4ABA9;
  font-size: 12pt;
}

h1 {
  color: #A0DEEE;
  font-size: 16pt;
}

header {
  color: #F06291;
  width: 20px;
  height: 70px;
}

body {
  color: #53CFDA;
}

footer {
  color: #FADADE
}
